*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
}

nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  nav img {
    width: 6rem;
    padding-left: 0.5rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    padding: 1rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(68, 105, 255);
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.5s;
  }
  
  nav ul li a:hover {
    color: rgb(255, 68, 230);
  }

  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(68, 105, 255);
    padding: 6rem 3rem 3rem 3rem;
  }
  
  header article h1 {
    color: #fff;
    font-size: 5rem;
    padding: 0 4rem 2rem 4rem;
  }
  
  header article p {
    color: #fff;
    font-size: 2rem;
    padding-left: 4rem;
  }
  
  header img {
    width: 100%;
    margin: 0 auto;
  }
  
  section#cursos {
    background-color: rgb(255, 68, 230);
    padding: 3rem;
    display: flex;
    justify-content: center;
  }
  
  section#cursos section.card {
    background-color: #fff;
    padding: 3rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-around;
    width: 50%;
    position: relative;
  }

  article#title {
    width: 50%;
  }
  
  article#title h2 {
    padding: 1.5rem;
  }
  
  article#content h3 {
    font-size: 1.5rem;
    padding: 3rem 3rem 1rem 3rem;
  }
  
  article#content ul {
    list-style: none;
  }
  
  article#content ul li {
    padding: 1rem 1rem 1rem 3rem;
    font-size: 1.2rem;
  }
  
  article#content a#inscrever {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: rgb(68, 105, 255);
    color: #fff;
    border-radius: 3rem;
    border: 0.2rem solid rgb(255, 238, 0);
    transition: 0.5s;
    font-weight: bold;
    position: absolute;
    z-index: 10;
    right: 10rem;
    top: 32rem;
  }
  
  article#content a#inscrever:hover {
    background-color: #fff;
    color: rgb(68, 105, 255);
    border: 0.2rem solid rgb(68, 105, 255);
  }

  section#inscrever {
    background-color: rgb(177, 230, 255);
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  section#inscrever h2 {
    color: rgb(0, 51, 255);
    text-align: center;
    padding-bottom: 3rem;
    font-size: 2.5rem;
    width: 100%;
  }
  
  section#inscrever form {
    width: 50%;
  }
  
  section#inscrever form div input {
    width: 100%;
    padding: 1rem;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    outline: none;
    border: none;
  }
  
  section#inscrever form div label {
    font-size: 1.3rem;
  }
  
  section#inscrever form button {
    border: 1px solid #3359ec;
    background-color: #fff;
    color: #3359ec;
    padding: 1rem;
    font-size: 0.8vw;
    font-weight: 600;
    border-radius: 0.5rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    transition: 0.3s ease-out;
    width: 40%;
  }
  
  section#inscrever form button:hover {
    background-color: #3359ec;
    color: #fff;
    transform: scale(1.1);
  }

  footer {
    padding: 3rem;
    text-align: center;
  }
  
  footer p {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  footer p a {
    text-decoration: none;
    color: #3359ec;
    transition: 0.5s;
  }
  
  footer p a:hover {
    color: rgb(255, 68, 230);
  }