@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, Serif;
}

main {
  /* margin: 0 10rem 0 10rem; */
  margin-left: 10rem;
  margin-right: 10rem;
}

/*menu de navegação*/
nav {
  background-color: #1d95cd;
  position: fixed;
  width: 100%;
}

ul#menu {
  list-style: none; /*tira as marcações(bolinhas)*/

  display: flex; /*lado a lado os elementos*/
  align-items: center; /*centraliza os elementos*/
  justify-content: start; /*posição dos itens center, end, start*/
}

ul#menu li {
  padding: 0.7rem;
}

ul#menu li i {
  font-size: 2rem;
  color: #fff;
}

ul#menu li a {
  color: #fff;
  text-decoration: none; /*tira a decoração do texto*/
}

ul#menu li:hover {
  transform: scale(1.2);
}

/*estilização do header*/

header img {
  width: 100%;
  margin-top: 2rem;
}

header h1 {
  text-align: center;
  margin-top: 3rem;
}

header p {
  margin: 0 10rem 0 10rem;
  padding: 1.5rem;
  font-size: 1.5rem;
}

/*estilização dos cursos e seus cards*/
section#cursos {
  margin-bottom: 10rem;
}

section#cursos h2 {
  text-align: center;
  padding: 3rem;
  font-size: 2.5rem;
}

section#cards {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.card {
  width: 20rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 2px 2px 2px 2px #00000020;
  transition: transform 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 80%;
  margin: 0 auto; /*truque quando quer deixar o card centrlizado e com espaço de margin auto*/
  display: flex;
}

.card h3 {
  font-size: 1.5rem;
  margin: 2rem 0 1rem 0;
  text-align: center;
}

.card p {
  font-size: 1rem;
  text-align: center;
}

/*seção das midias*/
section#imagens {
  display: flex;
  justify-content: center;
  align-items: center;
}

section#imagens p {
  padding: 2rem;
  font-size: 1rem;
}

/*estilização do formulário*/
section#inscrevase h2{
    width: 100%;
    margin: 0 1rem 2rem 1rem;
    text-align: center;
    color:#1d95cd;
}

section#inscrevase {
  padding: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

section#inscrevase form {
  /* display: flex;
    flex-wrap: wrap; */
  width: 50%;
}

section#inscrevase form input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.3rem 1rem 1rem 1rem;
  font-size: 1.5rem;
  border: solid 1px #1d95cd;
}

section#inscrevase form label {
  margin: 0 1rem 0 1rem;
  font-size: 1.3rem;
  color: #1d95cd;
}

section#inscrevase form button {
  border: solid 2px #1d95cd;
  border-radius: 2rem;
  padding: 0.4rem;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  margin: 0 auto;
  background-color: #fff;
  color: pointer;
  transition: all 0.2s ease-in-out;
  color: #1d95cd;
  width: 30%;
  justify-content: center;
}

section#inscrevase form button:hover {
  color: #fff;
  background-color: #1d95cd;
  transform: scale(1.1);
  transition: all 0.5s;
}

/*estilização da figura do forms*/
section#inscrevase img {
  width: 40%;
}

/*estilização do footer*/
footer {
  background-color: #1d95cd;
  padding: 3rem;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 3rem;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: rgb(224, 14, 161);
}
