<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Filmes</h1>
        <nav><a href="/">Home</a><a href="/criar">Cadastrar</a></nav>
    </header>
    <main>
        <div class="container">
            <% filmes.forEach(item => { %>
                <div class="item">
                    <h2><%= item.nome %></h2>
                    <p><%= item.descricao %></p>
                    <a href="/filmes/<%= item.id %>"><img src="<%= item.imagem %>" alt="capa do filme"></a>
                </div>
            <% }) %>
        </div>
    </main>
    <footer>
        <p>Lista de filmes - 2022</p>
    </footer>
    <script src="./js/script.js"></script>
</body>
</html>