<section class="message message-<%= type %>">
    <!-- para eu escolher a class pelo tipo de mensagem que será exibida -->
    <p><%= message %></p>
    <i id="close-message" class="bi bi-x"></i>
</section>