<section class="search">
    <form action="/pesquisa" method="POST">
        <input type="text" name="filme" placeholder="Nome do filme">
        <button type="submit"><i class="bi bi-search"></i></button>
    </form>
</section>